body {
    /*background-color: rgb(26, 24, 24);*/
    background-color: black;
}
.bday-video {
    position: fixed;
    height: 35vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    display: none;
}
.the-end-video {
    position: fixed;
    height: 100vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    display: none;
}
.playvideo-button {
    position: fixed;
    height: 15vh;
    bottom: 5vh;
    left: 15vw;
    cursor: pointer;
    transform: translate(-50%);
}
.tv-background {
    position: fixed;
    height: 100vh;
    top: 49vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    display: none;
}